{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="all-posts-view">
      <h3>Latests Posts</h3>
      {% for p in posts %}
        <div class="container p-3 my-3 border">
          <a class="usernameLinkPost" href="/profile/{{ p.user }}"><strong>{{ p.user }}</strong></a><br>
          <small>{{ p.message }}</small><br>
          <small><i>{{ p.created_at }}</i></small><br>
          <!-- TODO: Count likes -->
          <!-- TODO: If logged in, and its not my post add like action -->
          <img id="postLikesheart" src="/static/network/image/heart.png">&nbsp;<small>0</small>
        </div>
      {% empty %}
      No posts
      {% endfor %}
    </div>

    <div id="new-post-view">
      <h3>New Post</h3>
      {% if user.is_authenticated %}
      <div class="newpost_container">
        <form action="{% url 'network:post' %}" method="post" style="height:100%;width:100%">
          {% csrf_token %}
          <div class="form-group">
          {{ postForm.as_p }}
          </div>
          <input class="btn btn-primary" type="submit" value="Post">
        </form>
      </div>
      {% else %}
      Not signed in.
      {% endif %}
    </div>

    <div id="following-view">
      <h3>Following</h3>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
