.body {
  margin: 20px;
}

#postLikesheart {
  height: 15px;
}

#profileHeaderContainer {
  display: flex;
  align-items: baseline;
}

#buttonFollow {
  margin-left: 20px;
}

.usernameLinkPost {
  text-decoration: none;
  color: black;
}
