.body {
  margin: 20px;
}

#postLikesheart, #editPost {
  height: 15px;
}

#editPost {
  margin-left: 10px;
}

#profileHeaderContainer {
  display: flex;
  align-items: center;
}

#buttonFollow {
  margin-left: 20px;
}

.usernameLinkPost {
  text-decoration: none;
  color: black;
}

#posts-view {
  margin-top: 10px;
}

#editPostTextArea {
  margin-top: 10px;
}

#editPostSubmit {
  margin-bottom: 10px;
}
